language: node_js
node_js: "8"
services:
  - xvfb
before_install:
  - "export DISPLAY=:99.0"
  - 'export PATH=./node_modules/.bin:$PATH'
  - 'npm install -g typescript'
  - 'npm install -g mocha'
  - 'mvn install -f ./app/wsdl2rest/pom.xml'
install:
  - 'npm install --ignore-scripts'
  - 'npm install'
  # https://github.com/travis-ci/travis-ci/issues/8813
  - 'rm -f ./node_modules/.bin/which'
script:
  - 'npm test --silent'
after_success:
  - if [[ $TRAVIS_PULL_REQUEST == "false" && $TRAVIS_BRANCH == "master" ]]; then
    sonar-scanner;
    fi
cache:
  directories:
    - "node_modules"
env: DISPLAY=:99
deploy:
  provider: npm
  email: bfitzpat@redhat.com
  api_key: ${DEPLOY_TOKEN}
  skip_cleanup: true
  on:
    tags: true
addons:
  sonarcloud:
    organization: "camel-tooling"
    branches:
      - master
